<!DOCTYPE HTML>
<html>

<%- include("inc/head") -%>

    <body>

        <div class="gtco-loader"></div>

        <div id="page">


            <%- include("inc/header-menu") -%>

                <%- include("inc/header") -%>

                    <%- include('inc/content/menu') -%>

                        <%- include('inc/content/text') -%>

                            <%- include('inc/inscrever') -%>

                                <%- include('inc/footer') -%>

        </div>

        <%- include('inc/footer-goToTop') -%>

            <%- include('inc/footer-scripts') -%>

    </body>

</html>